- preset = Humpyard.config.container_element_presets[element.content_data.preset] || Humpyard.config.container_element_presets.first
- active_slot = 0
%div{class: preset[:css_class]}
  - if preset[:title]
    .container-element-title
      = element.content_data.title
  - preset[:slots].each do |slot|
    - elements = element.content_data.elements.where('container_slot = ?', active_slot)
    .container-element-content{class: "#{preset[:css_class]}-#{active_slot}#{elements.empty? ? ' empty-slot' : ''}"}
      = render "/humpyard/elements/show_container", elements: elements, active_slot: active_slot
    - active_slot += 1
  .container-element-end
  