%title
  = "#{Humpyard::config.browser_title_prefix}#{@content_for_title || 'Untitled'}#{Humpyard::config.browser_title_postfix}"
%meta{"http-equiv"=>"Content-Type", content: "text/html; charset=utf-8"}/
= @content_for_head
