- if humpyard_user 
  %body.hy-logged-in
    #hy-top.hy-eb
    
      #hy-top-left
        = image_tag "ajax-loader.gif", :size => "16x16", :class => "ajax-indicator"
        = link_to I18n.t('humpyard_cms.toolbar.edit'), '#', :'data-command' => "toggleEditMode", :'data-icon' => "ui-icon-pencil" if @page and can? :update, @page
        - Humpyard::config.toolbar_actions.each do |key,action|
          - if action[:class].nil? or can? :manage, action[:class]
            - options = {}
            - url = '#'
            - title = ''
        
            - unless action[:icon].blank?
              - options[:'data-icon'] = action[:icon]       
            - unless action[:action].blank?
              - url = url_for(:controller => action[:controller], :action => action[:action], :actual_page_id => @page ? @page.id : nil)
            - unless action[:command].blank?
              - options[:'data-command'] = action[:command]
            - unless action[:dialog].blank?
              - options[:'data-dialog'] = action[:dialog]
            - unless action[:title].blank?
              - title = action[:title]
            
            = link_to I18n.t(title), url, options
          
        = @content_for_toolbar
        
      #hy-top-right
        = link_to I18n.t('humpyard_cms.toolbar.logout'), humpyard_logout_path

    #hy-bottom.hy-eb
      - Humpyard::config.element_types.each do |name, type|
        - if not type.nil?
          .element{'data-addable'=>'hy-elements', 'data-draggable'=>'hy-elements', 'data-element-type'=>name, 'data-create-url'=>new_humpyard_element_path, :class => "hy-content-element-icon-#{type.to_s.underscore.dasherize}"}
            %span
              = type.model_name.human
              
    #hy-body.hy-eb{'data-page-id' => @page ? @page.id : false}
      = capture_haml(&block)
      
- else
  %body
    #hy-body
      = capture_haml(&block)