= humpyard_form_for @element, :as => :element, :url => url_for(:controller=>:'humpyard/elements', :action=>@element.persisted? ? :update : :create), :html=>{:'data-dialog-remote' => true, :'data-dialog-form'=>'true', :'data-form-object-class' => "element", :class=>'element-form'} do |form|
  .humpyard-dialog-title
    = @element.class.model_name.human
  - unless @element.persisted?
    = hidden_field :element, :page_id
    = hidden_field :element, :container_id
    = hidden_field :element, :page_yield_name
    = hidden_field_tag :type, @element_type
    - if @prev
      = hidden_field_tag :prev_id, @prev.id 
    - if @next
      = hidden_field_tag :next_id, @next.id
  .humpyard-tabview
    - custom_partial_path = "/humpyard/elements/#{@element.class.name.underscore.pluralize.gsub(/^humpyard\/elements/, '')}/edit"
    - if template_exists? custom_partial_path , nil, true
      = render :partial => custom_partial_path, :locals => {:element => @element, :form => form}
    .humpyard-tab
      .humpyard-tab-title
        Generic Options
      = form.input :shared_state, :as => :select, :collection => Humpyard::Element::SHARED_STATES.map{|key,value| [I18n.t("humpyard_cms.shared_state_info.owning_page.#{value}"), value]}
      = form.input :display_from
      = form.input :display_until
  .humpyard-dialog-buttons  
    = form.submit

