= humpyard_form_for @element, :as => :element, :url => url_for(:controller=>:'humpyard/elements', :action=>@element.persisted? ? :update : :create), :html=>{:remote => true, :'data-dialog-form'=>'true', :'data-form-object-class' => "element", :class=>'element_form humpyard_form'} do |form|
  .humpyard-dialog-title
    = @element.class
  - unless @element.persisted?
    = hidden_field :element, :page_id
    = hidden_field :element, :container_id
    = hidden_field_tag :type, @element_type
    - if @prev
      = hidden_field_tag :prev_id, @prev.id 
    - if @next
      = hidden_field_tag :next_id, @next.id
  .humpyard-tabview
    = render :partial => "/humpyard/elements/#{@element.class.name.split('::').last.underscore.pluralize}/edit", :locals => {:element => @element, :form => form}
    .humpyard-tab
      .humpyard-tab-title
        Generic Options
      = form.input :display_from
      = form.input :display_until
  .humpyard-dialog-buttons  
    = form.submit

