.humpyard-dialog-title
  = Humpyard::NewsFeed.to_s.pluralize
.dialog-columns
  .left-dialog-column
    #newsfeeds.tree.tree-themeroller
      %ul
        - @news_feeds.each do |nf|
          %li#index.open{"rel"=>"root"}
            = nf.name.blank? ? "[no name]" : nf.name
            / =# link_to root_page.title, edit_humpyard_page_path(root_page), :'data-dialog-link' => true, :class => (@page and @page == root_page ? 'active' : ''), :id => "hy-page-dialog-item-#{@page.id}"
    %br{"style"=>"clear:both;"}
    %hr
    = link_to "Add News Feed", new_humpyard_news_feed_path, :'data-dialog-link' => true
  .right-dialog-column
    - if @news_feed
      = render :partial => 'edit', :locals => {:news_feed => @news_feed}
    - else
      Nothing selected
.humpyard-dialog-buttons
