= humpyard_form_for @page, :as => :page, :url => @page.page, :html=>{:'data-dialog-remote' => true, :'data-form-object-class' => "page", :class=>'page_form humpyard_form'} do |form|
  .humpyard-dialog-title
    = "#{form.form_type} #{@page.class} #{@page.id}"
  - unless @page.persisted?
    = hidden_field_tag :type, @page_type
    = hidden_field :page, :parent_id
    - if @prev
      = hidden_field_tag :prev_id, @prev.id 
    - if @next
      = hidden_field_tag :next_id, @next.id
  .humpyard-tabview
    .humpyard-tab
      .humpyard-tab-title
        Page Options
      = form.input :title
      - if Humpyard::config.templates.size > 1
        = form.input :template_name, :as => :select, :collection => Humpyard::config.templates.map{|name, data| [name.to_s.camelize, name.to_s]}
      - else
        = hidden_field :page, :template_name
      = form.input :description
      = form.input :in_menu
    = render :partial => "/humpyard/pages/#{@page.class.name.split('::').last.underscore.pluralize}/edit", :locals => {:page => @page, :form => form}
    .humpyard-tab
      .humpyard-tab-title
        Generic Options
      = form.input :display_from
      = form.input :display_until
  .humpyard-form-buttons  
    = form.submit
    - if @page.persisted?
      = link_to 'Delete', humpyard_page_path(@page), :'data-icon' => "ui-icon-trash", :confirm => "Are you sure?", :method => :delete, :remote => true